.payment {
	padding-top: 60px;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 60px;
}
.title {
	font-size: 33px;
	text-align: center;
	padding-bottom: 10px;
}
.divider {
	width: 33.333%;
	height: 1px;
	background-color: var(--accent_color);
}
.logo {
	color: var(--accent_color);
	font-size: 18px;
}

// Если хотите добавить отступ и слева и справа, добавьте
.col {
    margin: 0 10px 0 10px; // Отступы: сверху, справа, снизу, слева
}


.col_wrap {
	background: url('./img/og.jpg') center center/cover no-repeat;
}
.col_overlay {
	padding: 20px;
	min-height: 300px;
	background-color: #181f24f5 !important;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.overlay_title {
	color: #fff;
	font-size: 23px;
}
.stage {
	width: 100px;
	color: var(--accent_color);
	padding: 2px 10px;
	text-align: center;
	border: 1px solid var(--accent_color);
	border-radius: 20px;
	// position: relative;
	// &:after {
	//     content: '';
	//     position: absolute;
	//     width: 1px;
	//     height: 40px;
	//     left: -5px;
	//     top: -20px;
	//     background-color: var(--accent_color);
	// }
	// &::before {
	//     content: '';
	//     position: absolute;
	//     width: 90px;
	//     height: 1px;
	//     left: -20px;
	//     top: -10px;
	//     background-color: var(--accent_color);
	// }
}
.circs {
	color: #fff;
}
.sale,
.act {
	display: flex;
	align-items: center;
	gap: 5px;
	border: 1px solid var(--accent_color);
	width: max-content;
	padding: 3px 10px;
	border-radius: 20px;
	margin-bottom: 5px;
	svg {
		width: 30px;
	}
}
