.top_price {
    color: #1aba5e; /* Устанавливаем цвет текста */
}
.pricing {
	padding: 30px 0 0;
}
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.title {
	font-size: 30px;
	padding-bottom: 10px;
}
.subtitle {
	font-size: 20px;
}
.divider {
	width: 33.333%;
	height: 1px;
	background-color: var(--accent_color);
}
.logo {
	font-size: 33px;
	color: var(--accent_color);
}

.top_wrap {
	height: 100%;
	background-color: #1d1e25 !important;
}
.top_overlay {
	padding: 30px;
	height: inherit;
	background-color: #1d1e25 !important;
}

.top_title {
	position: relative;
	font-size: 26px;
	&:after {
		content: '';
		position: absolute;
		width: 1px;
		height: 40px;
		left: -5px;
		top: -20px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 90px;
		height: 1px;
		left: -20px;
		top: -10px;
	}
}
.bottom_wrap {
	min-height: 250px;
}
.bottom_item_plus {
	position: relative;
	padding-left: 40px;
	padding-bottom: 10px;
	&::after {
		content: '';
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background: url('./img/plus.svg') center center/cover no-repeat;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.bottom_item_minus {
	position: relative;
	padding-left: 40px;
	padding-bottom: 10px;
	&::after {
		content: '';
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background: url('./img/minus.svg') center center/cover no-repeat;
		position: absolute;
		top: 0;
		left: 0;
	}
}
