.slider-container {
	.head-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			font-size: 60px;
			margin: 0 0 20px;
		}
		p {
			text-align: center;
			font-size: 18px;
			margin: 0 10% 0px;
			max-width: 50%;
		}
	}

	.galary {
		min-width: 100%;
		position: relative;
		padding: 0px 15%;
		overflow: visible;
		z-index: 80;
		.swiper-button-next,
		.swiper-button-prev {
			position: absolute;
			color: white;
			width: 70px;
			height: 70px;
			transition: 0.3s;
			background-color: var(--font);
			border: none;
			top: 47.5%;
			z-index: 90;
			font-family: swiper-icons;
		}

		.swiper-button-next:after,
		.swiper-button-prev:after {
			position: absolute;
			font-size: 18px;
			font-weight: 500;
			transition: 0.3s;
		}
		.swiper-button-prev:hover:after {
			transform: translateX(-85%);
			scale: 1 0.9;
		}
		.swiper-button-next:hover:after {
			transform: translateX(85%);
			scale: 1 0.9;
		}
		.swiper-button-next:hover,
		.swiper-button-prev:hover {
			font-size: 18px;
			transform: scaleX(1.2);
		}
		.swiper-button-next:before,
		.swiper-button-prev:before {
			content: '';
			display: block;
			opacity: 0;
			position: absolute;
			background: white;
			height: 2px;
			width: 0;
			top: 34.3px;
			transition: 0.3s;
		}
		.swiper-button-next:hover:before,
		.swiper-button-prev:hover:before {
			opacity: 1;
			width: 20px;
		}
		.swiper-button-next:hover:before {
			transform: translateX(9px);
		}
		.swiper-button-prev:hover:before {
			transform: translateX(-10px);
		}
		.swiper-button-prev:before {
			left: 47%;
		}
		.swiper-button-next:before {
			right: 47%;
		}
		.swiper-button-next {
			right: 13.25%;
		}
		.swiper-button-prev {
			left: 13.25%;
		}
		.swiper-button-next:active,
		.swiper-button-prev:active {
			transform: scale(0.9);
		}
		.swiper-pagination-bullet-active {
			background: black;
		}
		.swiper-slide {
			flex-shrink: 0;
			width: 100%;
			height: 100%;
			position: relative;
			transition-property: transform;
			display: flex;
			justify-content: center;

			/* margin-right: 20px !important; */
			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
				object-position: center;
				transition: 0.3s ease-out;
			}
		}
	}

	p {
		text-align: center;
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 30px;
		margin: 0 20%;
		color: grey;
		transform: none !important;
	}

	.p-galleria-content {
		width: 100%;
	}

	.p-galleria {
		margin: 50px auto;
	}

	.p-galleria-item-container {
		background-color: rgb(41, 41, 41);
	}

	.logos-card {
		padding: 0 7px;
		padding-bottom: 30px !important;
		max-width: 380px;
		width: 100%;
	}
	.card-logos__p {
		display: block;
	}

	.card-logos__h {
		display: block;
		text-align: center;
		color: #020817;
		font-size: 30px;
		font-weight: 900;
	}

	@media (max-width: 1700px) {
	}
	@media (max-width: 992px) {
		margin-top: 50px;
		margin-bottom: 50px;
		.head-container {
			h2 {
				font-size: 50px;
				margin-bottom: 5px;
			}
			p {
				font-size: 14px;
				margin: 0 0 20px;
				max-width: 100%;
				margin-bottom: 0;
			}
		}
		.galary {
			margin: 20px 0;
			padding: 0;
			.swiper-button-prev,
			.swiper-button-next {
				top: 55% !important;
			}
			.swiper-button-prev_logos {
				left: 2%;
			}
			.swiper-button-next_logos {
				right: 2%;
			}
			.swiper-pagination-horizontal {
				bottom: 0 !important;
				z-index: 2;
				width: 50%;
				margin-right: 25%;
				margin-left: 25%;
			}
		}
	}
}

@media (max-width: 539px) {
	.galary {
		.swiper-button-prev,
		.swiper-button-next {
			display: none !important;
		}
		.swiper-pagination {
			margin-left: 20% !important;
			margin-right: 20% !important;
			width: 60% !important;
		}
		.swiper-slide {
			padding-top: 0 !important   ;
		}
	}
	.logos-card {
		padding-bottom: 30px !important;
	}
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: var(--accent_color) !important;
}
